p 
{
    display:inline-block ;
}

#carte
{
    background-image: url("carte.jpg");
    margin:0 ;
    width: 100%;
    height: 500px; 
}

  
/* Largeur et hauteur des cases de la grille */
td {
    width:40px;
    height:40px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
   
/* Couleurs des cases */
.bad {
    background-color: red;
    }

 .bonneLigne {
    background-color: orange;
}
.bonneColonne{
    background-color: yellow;
}
.tresor
{
    background-color:green ;
}

.index
{
    background-image:("fond.jpg")
}

#vert {
    background-color: green;
}
.orange {
 background-color:orange;

}
#rouge{
    background-color: red;
}
#legende {
    font-size: 50px;

}
#legende td {
    width: 500px;
}
.jaune{
    background-color: yellow;
}